

  .collapsible {
    margin-top : 30px;
    background-color: #fbfbfb;
    border-top : 1px solid #ccc;
    color: #017cc0;
    cursor: pointer;
    padding: 18px 0px 0px 18px;
    width: 100%;
    /* border: none; */
    text-align: left;
    outline: none;
    font-size: 15px;
}
.content:first-child {
    border-bottom : 1px solid #ccc;
}

.active, .collapsible:hover {
    background-color: #fbfbfb;
}

.content {
    padding: 10px 18px 0px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
table { 
    width: 100%; 
    border-collapse: collapse;
    margin:50px auto;
    border-spacing : 0;
}
table {
    width: 100%;
    display:table;
}
thead {
    display: inline-block;
    width: 100%;
    /* height: 20px; */
}
tbody {
    height: 400px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee; 
}
tr {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding : 3px;
}

th { 
    background: #eee; 
    color: black; 
    font-weight: bold; 
    }

td, th { 
    /* padding: 20px 0px; */
    text-align : center !important; 
    border: 1px solid #eee; 
    text-align: left; 
    font-size: 18px;
    border : 2px solid #eee;
}
/* thead {
    padding-right : 15px;
} */
/* @media (max-width : 1400px){
    thead {
        padding-right : 0x;
    }
} */
thead tr th {
    padding : 20px 0px;
}
td {
    background :white;
    cursor :pointer;
}
td:hover {
    background :#0092d3;
    color : white;
}
.exp_div{
    padding : 20px 0px;
}
.exp_div:hover{
    background : #a1b949;
}
.sidebar-title{
    margin-bottom : 20px;
    border-radius : 5px;
}
@media(max-width: 1200px){
    .upload-add-cart{
        width : 50%
    }
}
@media(max-width: 768px){
    .upload-add-cart{
        width : 100%;
    }
}
.owl-buttons > div.owl-prev{
    left : 0px;
}
.owl-buttons > div.owl-next{
    right : 0px;
}



